.header {
    width: 240px;
    position: fixed;
    height: 100%;
    background-color: $verde;
    z-index: 3;
    text-align: center;
    margin: 0 auto;

    .avatar {
        margin-top: 10rem;
    }

    .textosavatar {
        align-content: space-between;
        margin-top: 2rem;
    }
    h2 {
        margin-top: 1rem;
    }
}